 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }
 
 :root {
     --main-bg-color: #f4f4f4;
     --main-txt-color: #333;
     --main-txt-family: 'Lato', sans-serif;
     --secondary-txt-color: #513ac7bf;
     --hover-color: rgb(148, 22, 22);
     --main-font-weigt: 400;
     --main-font-size: 14px;
     --big-font-size: 20px;
     --main-font-weight: 400;
     --secondary-font-weight: 700;
     --m-text-align: center;
     --header-bg-color: rgba(123, 115, 116, 0.879);
     --no-text-decoration: none;
     --main-border-shadow: rgba(0, 0, 0, 0.3);
     --main-width: 100%;
     --leftright-border: 20px;
     --no-list-style: none;
 }
 
 body {
     background-color: var(--main-bg-color);
     font-family: var(--main-txt-family);
     font-weight: var(--main-font-weigt);
     font-size: var(--main-font-size);
     text-align: var(--m-text-align);
     font-family: Helvetica, Arial, sans-serif;
 }
 
 h1 {
     text-align: var(--m-text-align);
 }
 
 h2 {
     text-align: var(--m-text-align);
     color: var(--secondary-txt-color);
 }
 
 header {
     font-weight: var(--secondary-font-weight);
     font-size: var(--big-font-size);
     background-color: var(--header-bg-color);
     color: var(--secondary-txt-color);
 }
 
 footer {
     font-size: var(--big-font-size);
     font-weight: var(--secondary-font-weight);
     display: flex;
     flex-direction: column;
     text-align: var(--m-text-align);
     margin-top: 50px;
 }
 
 li {
     list-style: var(--no-list-style);
 }
 
 a:link {
     color: var(--main-txt-color);
     text-decoration: var(--no-text-decoration);
 }
 
 a:hover,
 a:focus {
     color: var(--hover-color);
 }
 
 input:focus {
     color: var(--hover-color);
     font-weight: var(--secondary-font-weight);
     font-size: var(--main-font-size);
 }
 
 .button,
 button {
     border: none;
     font-family: inherit;
     background-color: var(--header-bg-color);
     color: var(--main-txt-color);
     text-decoration: var(--no-text-decoration);
     margin: 5px;
     padding: 8px;
     border-radius: 3px;
     box-shadow: 1px 2px 2px var(--main-border-shadow);
     transition-duration: 0.2s;
     transition-property: opacity;
 }
 
 .button:hover,
 .button:focus,
 button:hover,
 button:focus {
     cursor: pointer;
     opacity: 0.6;
 }
 
 
 .botton__secondary {
     background-color: var(--secondary-txt-color);
 }
 /* index page */
 

 /* header */
 
 .page-header {
     display: flex;
     width: var(--main-width);
     padding: var(--leftright-border);
 }
 
 .page-header__item {
     flex: 0 1 200px;
 }
 .page-header__logo {
    flex: 0 1 200px;
    border-radius: 50px;
}
 
 .page-header__item:last-child {
     flex-grow: 1;
     text-align: right;
 }
 
 .navigation-list li {
     display: inline-block;
     margin-left: 15px;
 }
 /* main */
 .text-box {
    font: 20px sans-serif;
    padding: 10px;
    margin: 10px;
 }
 .about-photo {
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 30%);
   
 }
 .profile {
     display: flex;
     width: var(--main-width);
     flex-direction: row;
     justify-content: center;
     padding: var(--leftright-border);
 }
 /* main div img */
.profile__photo__me{
     border-radius: 20px;
     box-shadow: 5px 5px 5px var(--main-border-shadow);
     transition: all 1s;
 }
 /* main div img:hover */
 .profile__photo__me {
     transform: rotate(20deg);
 }
 
 .profile .profile__photo:nth-child(1) {
    flex: 1 1 200px;
    padding: 50px 100px;
 }
 
 .profile .profile__my-info:nth-child(2) {
     flex: 1 1 200px;
     text-align: var(--m-text-align);
     padding: 50px 50px;
 }

 /* work page */
 
 .grid {
     display: -ms-grid;
     display: grid;
     -ms-grid-columns: 1fr 1fr;
     /* adjusted */
     grid-template-columns: repeat( 4, 1fr);
     /* -ms-grid-gap: 20px; */
     grid-gap: 20px;
     padding: 20px;
     /* -ms-align-items: center; */
 }
 /* define grid-item vars */
 
 .grid-item {
     --gi-bg-color: #ddd;
     --gi-main-color: #06c;
 }
 
 .grid-item {
     background-color: var(--gi-bg-color);
     text-align: var(--m-text-align);
     color: var(--gi-main-color);
     padding: 15px 10px;
     border-radius: 0.5em;
     border: 1px solid var(--gi-main-color);
     box-shadow: 8px 5px 5px var(--gi-main-color);
 }
 
 @media all and (max-width: 500px) {
     .grid {
         grid-template-columns: 1fr;
     }
 }
 
 @media all and (min-width: 500px) and (max-width: 750px) {
     .grid {
         grid-template-columns: 1fr 1fr;
     }
 }
 
@media all and (max-width: 750px) {
     .grid {
         grid-gap: 10px;
     }
     .grid__item:last-child {
         grid-column: auto / auto;
         grid-row: auto / auto;
     }
     h1 {
         font-size: var(--big-font-size);
     }
 }
 /* about page  */
 .hobbies {
    list-style: none;
    color: #357b70;
    font-size: 18px;
    list-style: var(--no-list-style);
    color: var(--secondary-txt-color);
    font-size: var(--main-font-size);
}
 .skill-container{
    width: 50%;
    margin: 0 auto;
    text-align: left;
  }
  @keyframes load{
    from {
      width: 0%
    }
  }
  @-webkit-keyframes load{
    from {
      width: 0%
    }
  }
  @-moz-keyframes load{
    from {
      width: 0%
    }
  }
  @-o-keyframes load{
    from {
      width: 0%
    }
  }
  
  .bar{
    background-color: #EEE;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    
  }
  .bar::before{
    content:  attr(data-skill);
    background-color: #f3b0ff;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
  }
  
  .bar.front::before{
    background-color: #ffcc33;
  }
  .bar.back::before{
    background-color: #a6cfe3;
  }
  
  .bar.learning::before{
    width: calc(75% - 10px);
  }
  .bar.basicplus::before{
    width: calc(70% - 10px);
  }
  .bar.intermediate::before{
    width: calc(60% - 10px);
  }
  .bar.advanced::before{
    width: calc(80% - 10px);
  }
  .bar.advancedplus::before{
    width: calc(90% - 10px);
  }
  .bar.expert::before{
    width: calc(100% - 10px);
  }
  